.link {
  display: inline-block;
  border: 1px solid gray;
  padding: 10px 20px;
  margin-bottom: 100px;
  margin-right: 50px;
  border-radius: 5px;
  transition: all 0.3s;
}
.active {
  color: brown;
  border-color: brown;
}
header {
  position: absolute;
  top: 0;
}
